.message {
    padding: 10px;
    margin: 10px;
    width: fit-content;
}

.message__user {
    margin-left: auto;
    color: white;
    text-align: left;
}

.message__userCard:hover,
.message__guestCard:hover {
    box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.75);
}

.message__userCard {
    background-color: #0b81ff !important;
}

.message__guestCard {
    background-color: #e9e9eb !important;
}

.message__messageData {
    display: flex;
    justify-content: space-between;
}

.message__time {
    text-align: right;
    color: black;
    padding-right: 5px;
}
.message__userText {
    color: #e9e9eb;
}
